<div class="container">
    config.secret_key = '6b66f8c76ffc12b9aeaa49cc1de8144c6e70cc1f218608cf32a3127a7383661a25a14352797586d4d09b14b5ab50e0903f96361e1f061f7ff54bbc12c2cccdbe'
    <div class="intro-text left-0 bg-faded p-5 rounded">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-element">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-element">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
              </div>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-element">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              </div>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
</div>
<br />
